.sponsor-outer{
    padding: 7rem 0rem 1rem 0rem;
    overflow: hidden;
    width: 100%;
    position: relative;
}
.sponsor-header{
    font-size: 3rem;
    font-weight: 800;
    text-align: center;
    color: #183D36;
}
.marquee {
    display: flex;
    overflow: hidden;
    width: 100%;
}
.sponsor{
    margin-top: 40px;
    animation: scroll 42s linear infinite;
    width: max-content; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}
.sponsor img{
    width: 8%;
    object-fit: contain;
}
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
@media (max-width:800px) {
    .sponsor-outer{
        padding: 5rem 0rem;
    }
    .sponsor-header{
        font-size: 2rem;
    }
    .sponsor img{
        width: 10%;
        object-fit: contain;
    }
}