.suscribe{
    padding: 8rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #EAEAEA;
}
.action{
    padding: 5rem 0rem;
    background-color: #DFE5FF;
}

.suscribe h4{
    font-size: 2rem;
    font-size: 700;
    color: #183D36;
    margin-bottom: 10px;
}
.action h4{
    font-size: 3rem;
}
.suscribe p{
    font-size: 1.25rem;
    font-size: 700;
    color: #183D36;
}
.action button{
    margin-top: 20px;
    background-color: #183D36;
    border: none;
    border-radius: 10px;
    padding: 0.625rem 4.625rem;
    font-size: 1.9rem;
    font-size: 700;
    color: white;
}
.suscribe-form{
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    gap: 10px;
}
.suscribe-form input{
    width: 900px;
    background-color: white;
    border: none;
    border-radius: 3px;
    padding: 1.5rem;
}
.suscribe-form button{
    padding: 1.5rem 4.125rem;
    font-size: 1.25rem;
    font-size: 700;
    color: white;
    background-color: #183D36;
}
@media (max-width:800px){
    .suscribe h4{
        text-align: center;
        font-size: 1.8rem;
        font-weight: 700;
        color: #183D36;
        margin-bottom: 10px;
    }
    .action h4{
        font-size: 1.5rem;
    }
    .action button{
        font-size: 1.2rem;
    }
    .suscribe p{
        text-align: center;
        font-size: 1rem;
        font-size: 700;
        color: #183D36;
    }
    .suscribe-form input{
        width: 230px;
        background-color: white;
        border: none;
        border-radius: 3px;
        padding: 1rem;
    }
    .suscribe-form button{
        padding: 1rem 1.8rem;
        font-size: 0.8rem;
        font-size: 700;
        color: white;
        background-color: #183D36;
    }
}