.feature{
    padding: 0rem 6.375rem 12.5rem 6.375rem;
}
.service-body{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    overflow-x: scroll;
}
.service-inner{
    padding: 1.5625rem 1.9rem;
    background-color: #FFFFFF;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: 28px;
}
.service-body::-webkit-scrollbar{
    width: 0px;
}
.service-inner-type{
    display: flex;
    align-items: center;
    gap: 56px;
}
.service-inner-type img{
    width: 117px;
    height: 117px;
    object-fit: contain;
}
/* .service-inner img{
    width: 40%;
} */
.service-inner p{
    font-size: 1.8rem;
    font-weight: 700;
    color: #183D36;
}
@media (max-width: 1290px) {
    .feature-inner img{
        width: 25%;
    }
    .feature-inner p{
        font-size: 1.6rem;
    }
}
@media (max-width: 1130px) {
    .service-inner-type img{
        width: 90px;
        height: 90px;
        object-fit: contain;
    }
}
@media (max-width:800px) {
    .service-inner-type img{
        width: 50px;
        height: 50px;
        object-fit: contain;
    }
    .service-inner p{
        font-size: 1.2rem;
        font-weight: 700;
        color: #183D36;
    }
}