.blog-header{
    padding: 9rem 6rem;
}
.page-title{
    font-weight: 700;
    font-size: 3rem;
    color: #183D36;
}
.empty-animate{
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.blog-header-component{
    margin-top: 10px;
    display: flex;
    gap: 46px;
}
.blog-main{
    width: 70%;
}
.blog-recent{
    width: 30%;
}
.recent-blog-inner{
    margin-bottom: 30px;
}
.blog-content{
    width: 100%;
    margin-top: 77px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
@media (max-width: 800px) {
    .blog-header{
        padding: 7rem 2rem;
    }
    .blog-main{
        width: 100%;
    }
    .blog-recent{
        display: none;
    }
    .blog-content{
        margin-top: 77px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 15px;
    }
}