.section{
    padding: 0rem 0rem 10rem 0rem;
}
.section-header{
    padding: 0rem 6rem 0rem 6rem;
    font-size: 3.8rem;
    font-weight: 700;
    color: #183D36;
    text-align: center;
}

.section-inner{
    padding: 0rem 2rem;
    margin-top: 50px;
    width: 100%;
    display: grid;
    grid-template-columns: 480px 480px 480px 480px;
    overflow-x: scroll;
    gap: 30px;
}
.section-inner::-webkit-scrollbar{
    display: none ;
}
.section-card{
    padding: 3.185rem 2.5rem;
    background-color: #DFE5FF;
    height: 556px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 2px;
}
.section-card h4{
    font-size: 2.5rem;
    font-weight: 700;
    color: #183D36;
}
.section-card p{
    margin-top: 100px;
    font-size: 1.6rem;
    font-weight: 400;
    color: #183D36;
}
.section-card button{
    border-radius: 10px;
    margin-top: 30px;
    width: 100%;
    padding: 1.25rem;
    font-size: 2rem;
    color: white;
    font-weight: 700;
    border: none;
}
.section-control{
    margin-top: 50px;
    display:flex;
    justify-content: center;
    gap: 50px;
}
.section-button{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000000;
    background-color: #DFE5FF;
}
@media (max-width:800px) {
    .section{
        padding: 0rem 0rem 6.25rem 0rem;
    }
    .section-header{
        padding: 0rem 1.5rem 0rem 1.5rem;
        font-size: 2rem;
    }
    .section-inner{
        grid-template-columns: 301px 301px 301px 301px;
        overflow-x: scroll;
        gap: 20px;
    }
    .section-card{
        padding: 1.75rem 1.56rem;
        background-color: #DFE5FF;
        height: 345px;
    }
    .section-card h4{
        font-size: 1.5rem;
    }
    .section-card p{
        font-size: 1rem;
    }
    .section-card button{
        padding: 0.625rem;
        font-size: 1rem;
        font-weight: 700;
    }
    .section-control{
        margin-top: 27px;
        gap: 15px;
    }
    .section-button{
        width: 37px;
        height: 37px;   
    }
}