.header{
    padding: 12.25rem 6.375rem ;
    display: flex;
    gap: 40px;
    align-items: stretch;
    /* height: 90vh;
    background-image: url("../../Assets/background.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% 80%; */
}
.product-header{
    background-color: #F3F8FF;
    background-image: url("../../Assets/background3.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}
.header-info{
    width: 50%;
}
.header-info-top, .header-info-bottom{
    padding: 2.5rem 2.8rem;
    background-color: #DFE5FF;
}
.header-info-bottom{
    margin-top: 40px;
}
/* .header-left h4{
    max-width: 886px;
} */
.header-info h4, .header-left h4{
    font-size: 3.5rem;
    font-weight: 700;
    text-align: left;
    color: #183D36;
}
.header-info p, .header-left p{
    color: #183D36;
    margin-top: 10px;
    font-size: 1.2rem;
    font-weight: 400;
    text-align: left;
}
.product-download-buttons{
    margin-top: 20px;
}
.download-buttons{
    margin-top: 10px;
    display: flex;
    gap: 20px;
}
.download-buttons img{
    width: 25%;
}
.header-image{
    width: 50%;
}
.header-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
@media (max-width: 1290px) {
    .header-info-top, .header-info-bottom{
        padding: 2.5rem 2rem;
    }
    .header-info h4, .header-left h4{
        font-size: 3rem;
    }
    .header-info p, .header-left p{
        font-size: 1.2rem;
    }
}
@media (max-width: 1130px) {
    .header{
        padding: 12.25rem 4.5rem ;
    }
    .header-info h4, .header-left h4{
        font-size: 2.5rem;
    }
    .download-buttons img{
        width: 30%;
    }
}
@media (max-width:800px) {
    .header{
        padding: 2.1rem 1.8rem;
        flex-direction: column-reverse;
    }
    .product-header{
        padding: 18rem 1.8rem 2.1rem 1.8rem;
        background-position: 0rem 4rem;
    }
    .header-info-top, .header-info-bottom{
        padding: 0.95rem 1rem;
    }
    .header-image, .header-info {
        width: 100%;
    }
    .header-image img{
        width: 100%;
        height: 370px;
    }
    .header-info h4{
        font-size: 2rem;
    }
    .header-left h4{
        font-size: 1.5rem;
    }
    .header-info p, .header-left p{
        font-size: 1rem;
    }
    .download-buttons img{
        width: 35%;
    }
}