@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Quicksand:wght@300..700&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body{
  overflow-x: hidden;
}
.spinner{
  width: 30%;
}
.utility, .investment, .wallet,.marketplace, .contact{
  background-color: #F3F8FF;
}
@media (max-width:800px) {
  body{
    background-color: #F3F8FF;
  }
}