 .banner{
    padding: 0rem 6.375rem ;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 445px 445px;
    grid-gap: 30px;
}
.banner-mobile{
    display: none;
}
.banner-component{
}
.banner-top, .banner-bottom{
    background-color: #DFE5FF;
    padding: 2.4rem ;
}
.banner-bottom{
    margin-top: 30px;
}
.banner-top h4{
    color: #183D36;
    font-size: 2.5rem;
    font-weight: 700;
}
.banner-bottom p{
    font-size: 1.2rem;
}
@media (max-width:1300px) {
    .banner{
        padding: 0rem 4.5rem ;
        grid-template-rows: 350px 350px;
        grid-gap: 20px;
    }
    .banner-top, .banner-bottom{
        padding: 1.4rem ;
    }
    .banner-bottom p{
        font-size: 1rem;
    }
}
@media (max-width:1200px) {
    .banner{
        grid-template-rows: 300px 300px;
        grid-gap: 15px;
    }
    .banner-top, .banner-bottom{
        padding: 1.4rem ;
    }
    .banner-top h4{
        font-size: 1.9rem;
    }
    .banner-bottom p{
        font-size: 0.8rem;
    }
}
@media (max-width:800px) {
    .banner{
      display: none; 
    }
    .banner-mobile{
        display: block;
        padding: 6.25rem 1.8rem 0rem  1.8rem ;
    }
    .about-cards{
        overflow-x: scroll;
        display: grid;
        grid-template-columns: repeat(5, 301px);
        /* grid-template-rows: 288px; */
        grid-gap: 20px;
    }
    .about-cards div{
        margin-top: 20px;
    }
}